{% extends 'core/base.html' %}
{% load bootstrap3 %}

{% block title %}

{% endblock %}

{% block content %}
	{% include 'atas/includes/_barra_botoes.html' %}
	<div class="panel panel-default">
		<div class="panel-heading">
			Memória número: {{ object.codigo }}
		</div>
		<table class="table table-hover">
			<tbody>
				<tr>
					<td>Data e hora:</td>
					<td>{{ object.data|date:'d/m/Y' }} às {{ object.hora }}</td>
				</tr>
				<tr>
					<td>Local:</td>
					<td>{{ object.local }}</td>
				</tr>
				<tr>
					<td>Pauta:</td>
					<td>{{ object.pauta }}</td>
				</tr>
				<tr>
					<td>Redator:</td>
					<td>{{ object.redator }}</td>
				</tr>
				<tr>
					<td>Outro membros do {{ object.curso }}: </td>
					<td>
						{% for c in object.integrantes.all %}
							{{ c.nome }}
							{% if forloop.last %}
								.
							{% else %}
								,
							{% endif %}
						{% empty %}
							Não informado
						{% endfor %}
					</td>
				</tr>
				
			</tbody>
		</table>
	</div>
	
	<div class="panel panel-default">
		<div class="panel-heading">
			Texto e anexo
		</div>
		<div class="panel-body">
			{% if object.texto %}
				{{ object.texto|linebreaks }}
			{% endif %}
			<br>
			Arquivo em Anexo<br>
			<span  data-toggle="tooltip"  title='Arquivo Anexo da Ata'>
				{% if ata.arquivo_anexo1 %}
					<a href="{{ ata.arquivo_anexo1.url }}" target="_blank" class="btn btn-sm btn-success">
						{% bootstrap_icon 'download' %}
					</a>
				{% else %}
					<a href="" target="_blank" class="btn btn-sm btn-warning disabled">
						{% bootstrap_icon 'download' %}
					</a>
				{% endif %}
			</span>
		</div>
		
	</div>
	{% include 'atas/includes/_barra_botoes.html' %}
{% endblock %}
