{% extends "easy_pdf/base.html" %}

{% block extra_style %}
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <style type="text/css">
        body {
            font-family: "Helvetica", "sans-serif";
            color: #333333;
        }
    </style>
{% endblock %}

{%block page_header%}

<table style="color: #777777;">
    <tr style="text-align: center;">
        <td>
            <h2>Gestão de Memórias</h2>
        </td>
    </tr>
</table>
<hr>
{%endblock%}

{% block content %}

{% endblock %}
{% block page_foot %}
    
    <div style="display: block;margin: 0 auto;text-align: center;">
        Sistema de Gestão de Memórias - Laboratório de Práticas da Computação UFN - https://atas.lapinf.ufn.edu.br<br>
        Página: <pdf:pagenumber />/<pdf:pagecount /> - Impresso em: {% now "SHORT_DATETIME_FORMAT" %}
    </div>
{% endblock %}
